html {
    font-family: Helvetica;
}
.mainheader {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}

.item h2 {
    color: white;
    font-size: 32px;
}

.price {
    color: blue;
    font-weight: bold;
}

.brushes {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brush {
    background: mediumspringgreen;
}

#frame {
    background: lightcoral;
}